.description__title_place_baykal{
    width: 1095px;
height: 69px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
top:204px;
left:38px;
position: absolute;
text-decoration: none;
}

