.description__title_place_video {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0px auto 48px;
    width: 800px;
    text-align: center;
}