.item-main__link{
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: white;
padding-bottom: 60px;
}

.item-main__link:hover{
opacity: .7;
display: inline-block;
padding-bottom: 0px;
}