.description__subtitle_place_baykal{
    width: 382px;
      font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
 top: 430px;
 left:400px;
    position: absolute;
}
