@import url(./__image/place-image__image.css);
@import url(./__block/place-image__block.css);





.place-image{
    width: 248px;
    color:white;
   
    margin:0px auto 102px;
  
    position: relative;
}