@import url(./__image/baykal__image.css);
@import url(../baykal/__fon/baykal__fon.css);

.baykal{
    width:1184px ;
    margin:0px auto 82px;
    color: white;
    font-family: 'Inter';
    position: relative;
 
  
 
}
.baykal:hover{
    opacity:.2;
}